<!DOCTYPE html>
<head>
  <title>All Users page</title>
  <link rel="stylesheet" href="/static/users/users.css" />
</head>
<body>
  <h1 class="green-text"><%= pageTitle %></h1>
  <% user.map((obj) => { %>
  <li><%= obj.first_name %></li>
  <li><%= obj.last_name %></li>
  <% }) %>
  <a href="/users/create">Dheeraj Bisht</a>

  <a href="/products/home">Home</a>
  
</body>
</html>
